.page {
    width: 100%;
    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    }
  
  .body {
    height: 100%;
    background-color: #202020;
    color:#FFFFFF;
    font-family: 'Inter', 'Arial', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    }  
    
    .buttons {
      cursor: pointer;
      border: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      transition: ease-out .2s;
    }
    
    .buttons:hover {
      transition: ease-in .1s;
      opacity: .8;
    }
    
    .links {
      transition: ease-out .2s;
    }
    
    .links:hover {
      transition: ease-in .1s;
      opacity: .8;
    }
    
    a {
      color: inherit;
      text-decoration: none;
    }